In [1]:
import os
import configparser
from pathlib import Path
from pyspark.sql import SparkSession

output_dir = "output_data"

In [2]:
os.getcwd()

'/workspace/home'

In [3]:
root_output_dir = "/workspace/home/output_data"

In [4]:
spark = SparkSession.builder\
                    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0")\
                    .enableHiveSupport().getOrCreate()

In [5]:
for table_dir in os.listdir(root_output_dir):
    path = os.path.join(root_output_dir, table_dir)
    df = spark.read.parquet(path)
    print("Table: " + path.split('/')[-1])
    schema = df.printSchema()

Table: country_code
root
 |-- code: string (nullable = true)
 |-- country: string (nullable = true)

Table: dim_im_airline
root
 |-- immigration_id: double (nullable = true)
 |-- airline: string (nullable = true)
 |-- flight_number: string (nullable = true)
 |-- visa_type: string (nullable = true)

Table: state_code
root
 |-- code: string (nullable = true)
 |-- state: string (nullable = true)

Table: city_code
root
 |-- code: string (nullable = true)
 |-- city: string (nullable = true)

Table: fact_im
root
 |-- immigration_id: double (nullable = true)
 |-- year: double (nullable = true)
 |-- month: double (nullable = true)
 |-- city_code: string (nullable = true)
 |-- arrival_date: date (nullable = true)
 |-- departure_date: date (nullable = true)
 |-- transportation_mode: double (nullable = true)
 |-- visa: double (nullable = true)
 |-- country: string (nullable = true)
 |-- state_code: string (nullable = true)

Table: dim_im_person
root
 |-- immigration_id: double (nullable = true)
 |-- citizen_country: double (nullable = true)
 |-- residence_country: double (nullable = true)
 |-- birth_year: double (nullable = true)
 |-- gender: string (nullable = true)

Table: dim_temp
root
 |-- date: date (nullable = true)
 |-- avg_temperature: string (nullable = true)
 |-- avg_temp_uncertainty: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

In [6]:
for table_dir in os.listdir(root_output_dir):
    path = os.path.join(root_output_dir, table_dir)
    df = spark.read.parquet(path)
    record_num = df.count()
    if record_num <= 0:
        raise ValueError("No data in table.")
    else:
        print("Table " + path.split('/')[-1] + f" has {record_num} records.")

Table country_code has 288 records.
Table dim_im_airline has 3096313 records.
Table state_code has 54 records.
Table city_code has 659 records.
Table fact_im has 3096313 records.
Table dim_im_person has 3096313 records.
Table dim_temp has 687289 records.